body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: snow;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 14px;

    .title {
        font-size: 2em;
        @media (width: 800px) {
            font-size: 4em;
        }
    }
}

.app {
    padding: 20px;
    background-color: snow;
    height: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.note-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .note-form-title {
        font-size: 2em;
    }
}

.note-form {
    min-width: 200px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-label {
        width: 100%;
        font-size: 1.4em;
        padding-top: 8px;
    }

    .form-input {
        padding: 8px;
        font-size: 1.4em;
        min-width: 200px;
        width: 100%;
        max-width: 800px;
    }

    .form-button {
        margin-top: 12px;
        padding: 8px;
        font-size: 1.4em;
        width: 120px;
    }


}

.edit-note-form {
    display: flex;
    padding: 14px;
    flex-direction: column;
    width: 60%;
    margin: auto;
    
    .edit-label {
        padding-top: 8px;
    }

    .edit-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding-top: 12px;

        .edit-button {
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}

.notes-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

    .notes-section-title {
        width: fit-content;
        font-size: 2em;
    }
}

.notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 24px;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 200px;
    width: 200px;
    margin: 4px;
    border-radius: 25px;
    
    .note-content {
        max-height: 102px;
        overflow: scroll;
    }

    .note-content::-webkit-scrollbar {
        display: none;
      }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .category-label {
            font-size: small;
        }
    }
    
}

.green {
    border: 2px solid seagreen;
    background-color: darkseagreen;
}

.pink {
    border: 2px solid rosybrown;
    background-color: pink;
}

.blue{
    border: 2px solid steelblue;
    background-color: lightsteelblue;
}


